<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MAPBU Sales Leadership Meeting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
				<h1 class="text-center">Spring Boot on Kubernetes? You betcha.</h1>
			
			   	<div class="text-center">
				  <img src="clap.gif" class="rounded">
				</div>
	    </div>
	    <div class="col-md-2"><h1 class="display-4, text-primary">v17</h1></div>
	</div>
</body>
</html>